{:deps {org.clojure/clojure {:mvn/version "1.10.1"}

        tick {:git/url "https://github.com/juxt/tick.git"
              :sha "e777e93ca80c19bc2b9f4bea76d096f037afe510"}
        time-specs {:mvn/version "0.1.0-SNAPSHOT"}

        medley {:mvn/version "1.1.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-529"}}}}}
