{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        tick/tick {:mvn/version "0.6.0"}
        dev.weavejester/medley {:mvn/version "1.6.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.80.1274"}
                org.clojure/test.check {:mvn/version "1.1.1"}}}

  :jar
  {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                 :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}
   :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "recex.jar"]}

  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "recex.jar"]}}}
